services:
  # Bot do Telegram
  - type: worker
    name: maestrofin-bot
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python3 launcher.py
    envVars:
      - key: TELEGRAM_TOKEN
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: GEMINI_MODEL_NAME
        value: gemini-1.5-flash
      - key: GOOGLE_APPLICATION_CREDENTIALS
        value: credenciais/google_vision_credentials.json
      - key: RENDER
        value: true
      - key: SENDER_EMAIL
        sync: false
      - key: EMAIL_HOST_USER
        sync: false
      - key: EMAIL_HOST_PASSWORD
        sync: false
      - key: EMAIL_RECEIVER
        sync: false
      - key: PIX_KEY
        sync: false

  # Dashboard Web
  - type: web
    name: maestrofin-dashboard
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn analytics.dashboard_app:app -c gunicorn_config.py --log-file -
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: PORT
        value: 10000
